
// Body
$body-bg: #f8fafc;



// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$purple-jackx: #452393;
$pink-jackx: #ff3366;
$grey-jackx: #7b7554;
$blue-jackx: #000e48;


// Valeurs breakpoints
$xs: 544px;
$sm: 767px;
$md: 990px;
$lg: 1200px;

// Rounded buttons
$rounded-radius: 5em;